DATABASE_URL=postgresql://localhost/musicmate_development
JWT_SECRET=change_me
FRONTEND_URL=http://localhost:5173
SPOTIFY_CLIENT_ID=change_me
SPOTIFY_CLIENT_SECRET=change_me
SPOTIFY_REDIRECT_URI=http://localhost:3000/api/v1/auth/spotify/callback
